/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Codificação do arquivo css */
@charset "UTF-8";

/*
 * API de fonte: Google Fonts
 * Link: https://fonts.google.com/
*/

/* Fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

/* Fonte Ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::-moz-selection {
    background-color: blueviolet;
    color: white;
}

*::selection {
    background-color: blueviolet;
    color: white;
}

/* Vídeo em background */
video#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.container {
    max-width: 1000px;
    margin: 5px auto 0;

    position: relative;
    z-index: 2;
}

p,
form > * {
    font-family: 'Ubuntu', sans-serif;
}

header {
    background: #48c5ce;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
}

.title {
    font-size: 25px;
}

section {
    padding: 20px;
    background-image: url('../images/people.jpg');
    background-size: cover;
    overflow: hidden;
}

.formContainer {
    max-width: 230px;
    background-color: hsla(0, 0%, 100%, 0.733);
    padding: 20px;
    float: right;
}

.formContainer h2 {
    font-size: 16px;
    text-transform: uppercase;
}

.mb {
    margin-bottom: 15px;
}

input,
select {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

input:focus,
select:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; /* Tirando a imagem default do select */
    background: url('./../images/arrow.jpg') no-repeat;
    background-position-x: calc(100% - 10px); 
    background-position-y: center;
} 

select,
input[type="submit"] {
    cursor: pointer;
}

input[type="submit"] {
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}

footer {
    background-color: #202121;
    text-align: center;
    padding: 40px;
}

.picture {
    width: 160px;
}

.description {
    color: white;
    display: inline-block;
    width: 40%;
    margin-left: 35px;
}

.description  h3 {
    font-size: 23px;
}

.description p {
    text-align: justify;
    text-indent: 15px;
    line-height: 22px;
}

.description h3,
.description p {
    margin-bottom: 20px;
}